$blueColor: #42bdb3;
$textColor: #444444;
$redColor: #e3647d;

.data {
  color: $blueColor;
}

main {
  display: flex;
  flex-direction: row;
  width: 67%;
  align-items: center;
  justify-content: space-around;
  height: 89vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .info--box {
    position: fixed;
    width: 100%;
    height: 89vh;
    opacity: 50%;
    background: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -5;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .info--popup {
    position: fixed;
    background: white;
    width: 40vw;
    height: 40%;
    opacity: 100%;
    z-index: 4;
    border-radius: 3%;
    padding: 2rem;
    transform: scale(0);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    .info--title {
      font-size: 2rem;
      font-weight: 800;
    }

    .info--content {
      font-size: 1.1rem;
    }

    .info--hide {
      background: $blueColor;
      color: white;
      outline: none;
      border: none;
      font-size: 1.2rem;
      width: 5rem;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        background: $redColor;
      }
    }
  }
  .data--options {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2rem;
    left: -5rem;
    width: 13rem;
    justify-content: space-between;
    .data--option {
      width: 3rem;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .data--containter {
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    position: relative;

    input {
      border: none;
      outline: none;
      background: none;
      color: #42bdb3;
      font-size: 1.9rem;
      margin-left: 4rem;
      font-weight: 800;
      width: 40%;
    }

    .data--input {
      width: 30rem;
    }

    img {
      width: 6rem;
      position: absolute;
      top: 40%;
      left: 1rem;
    }

    .data--save {
      opacity: 0;
      position: absolute;
      bottom: 45%;
      left: -12rem;
      width: 7rem;
      height: 3rem;
      font-size: 1rem;
      background: $blueColor;
      outline: none;
      color: white;
      border: none;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        background: $redColor;
      }
    }
  }

  img {
    width: 40%;
  }
}

.rectbg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -3;
  transform: translateY(40%);
}
