.frie {
  color: #42bdb3;
}

main {
  height: 89vh;
  position: relative;
}

main .blur {
  position: fixed;
  opacity: 0.8;
  background: #444444;
  width: 100%;
  height: 89vh;
  opacity: 0;
  z-index: -3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

main .add--box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  height: 50%;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 2%;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 10;
  top: 20%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

main .add--box .box--login {
  font-size: 2.2rem;
  font-weight: 800;
  color: #42bdb3;
}

main .add--box .box--h {
  font-size: 1.3rem;
}

main .add--box .box--w {
  font-size: 1.3rem;
}

main .add--box .box--a {
  font-size: 1.3rem;
}

main .add--box .box--s {
  font-size: 1.3rem;
}

main .fi-rr-user-add {
  position: absolute;
  top: 2rem;
  left: 10rem;
  font-size: 2rem;
}

main .fi-rr-user-add:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

main .invisible {
  opacity: 0;
}

main .add--user {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 2rem;
  left: 15rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 40%;
}

main .add--user .error-message {
  color: #e3647d;
  font-weight: 800;
  font-size: 1.1rem;
  opacity: 0;
}

main .add--user input {
  height: 3rem;
  width: 12rem;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1.4rem;
}

main .add--user button {
  outline: none;
  border: none;
  background: #42bdb3;
  color: white;
  padding: 0.3rem;
  font-size: 1.1rem;
  width: 8rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .add--user button:hover {
  background: #e3647d;
  cursor: pointer;
}

main .bg--wave {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: -5;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

main .friends--container {
  margin-top: 5rem;
  width: 30%;
}

main .friends--container .friends--friend {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

main .friends--container .friends--friend i {
  font-size: 2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

main .friends--container .friends--friend i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .friends--container .friends--friend .login {
  width: 80%;
  font-size: 2rem;
  font-weight: 800;
  color: #e3647d;
}

main .chat--box {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  right: 10%;
  border: 3px solid #42bdb3;
  width: 15%;
  height: 30%;
}

main .chat--box .messages {
  height: 80%;
}

main .chat--box input {
  width: 50%;
}
/*# sourceMappingURL=friendsStyle.css.map */