$blueColor: #42bdb3;
$textColor: #444444;
$redColor: #e3647d;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89vh;
  img {
    width: 26%;
    margin-top: 3rem;
  }

  .welcome-part1 {
    font-size: 4rem;
    font-weight: 800;
    color: #42bdb3;
  }

  .welcome-part2 {
    font-size: 2rem;
  }
}
